<% user = User.find_by(id: review[:user_id]) %>

<tr>
  <td><%= "#{user.name}" %></td>
  <td><%= review.description %></td>
  <td>
    <% review.rating.times do %>
      <i class="check fa fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="fa fa-star"></i>
    <% end %>
  </td>
</tr>
